body {
    text-align: left;
    background-color: #1a1919;
    color: #000000;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #ffffff, #e1ee99);
    background-attachment: fixed;

}